/* FONT FACE*/
@font-face{
    font-family: "Amaranth";
    src: url("../fonts/amaranth.otf");
}
/*GLOBAL*/
html{
    font-size: 62,5%;
}
body{
    font-family: "Sans Open";
    color: #666;
    background-color: #F2F2F2;
}
img{
max-width:100%;
}
a{
    color: #96B011;
}
a:hover{
    color: #B09067;
}
main h1{
   font-family: "Amaranth";
   font-size: 4rem;
   font-weight: normal;
}
main h2{
    font-family: "Amaranth";
    font-size: 2.5rem;
    font-weight: normal;
    color: #96B011;
}
main h2 span{
    background-color: white;
    padding: 10px;
}
main h3{
    font-family: "Amaranth";
    font-weight: normal;
    font-size:2rem ;
    color: #666;
    margin: 0;
}
.btn{
    
    text-transform: uppercase;
    background-color: #B09067;
    color: white;
    padding: 15px 25px;
    letter-spacing: 2px;
    margin: 10px 0;
    text-align: center;
}
.btn:hover{
    background-color: rgba(176, 144, 103, 0.75);
    color: white;
}
/*HEADER*/
#topbar{
    color: white;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0,0, 0.1)
}
header{
    background-image: url(../img/bg.jpg);
    background-position: center;
    color: white;
    background-color: #96B011;
    background-repeat: no-repeat;
}
#logo{
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
            align-items: center;
            margin: 25px;
}
#cart{
    text-align: right;
    margin: 0;
}
#cart strong{
    color: white;
    font-size: 2rem;
}
#cart strong::before{
    opacity: 0.-6;
    font-size: 2rem;
    font-family: "FontAwesome";
    padding: 10px;
    margin: 0 5px;
    border:  1px solid white;
    border-radius: 50%;
}
#cart p{
    margin: 0;
}
header nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 25px 0;
	text-transform: uppercase;
    letter-spacing: 1px;
}
header nav a{
    color: white;
    padding: 10px 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

}
header nav a:hover{
    background-color: (rgba255,255,255,0.2);
    color: white;
}
.ribbon{
    width: 150px;
    right: 0;
    top: 0;
    position: absolute;
}

/*MAIN CONTENT*/
#slider{
margin-top: 25px;
}
.flexslider{
    border: 1px solid white;
}
#noel{
    text-align: center;
}
#noel h1{
color: #96B011;
}
#noel small{
    font-size: 1.2em;
}
#categorie{
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	text-align: center;
	background-color: white;
}
#categorie, #tea{
    padding: 15px;
    margin: 25px 0;
}
#categorie h2, #product h2 {
	-ms-flex-preferred-size: 100%;
	    flex-basis: 100%;
}
#categorie:hover a{
    opacity: 0.6;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
#categorie:hover, a:hover{
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    opacity: 1;
}
#tea {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	background-color: white;
	text-align: center;
}
#tea article{
    margin: 0 10px;
}
.price strong{
    font-family: "Amaranth";
    font-size: 2.4rem;
display: block;
font-weight: normal;

}
.tea{
    background-color: white;
    padding: 25px;
    margin: 25 px 0;
}
.tea img{
    float: left;
    margin: 25px 10px 0 0;
}
.listing-product {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
}
.listing-product img{
    width: 70%;
    margin: 0 auto;

}
/* PARTIE PRODUCT */
#product{
    background-color: white;
    padding: 25px;
}
#product-detail {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
#product-detail h1{
    font-size: 3rem;
    margin: 0;
}
#product-detail h2{
   margin: 0;
   color: #999;
}
#product-detail p{
    font-style: italic;
}
/*footer*/
footer{
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    color: white;
    margin-top: 50px;
    background-color: #96B011;
    background-position: center bottom;
}
#info{
    background-color: rgba(0,0,0,0.1);
	color: rgba(255, 255, 255, 0.6);
	text-transform: uppercase;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
#info article{
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    cursor: pointer;
}
#info article:hover{
    color: white;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
#info {
    text-align: center;
    display: block;
    font-size: 2rem;
    padding-bottom: 5px;

}
#bottombar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
	padding: 25px 0;
}
#bottombar article {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	font-size: 0.9em;
}
#bottombar article h2{
    font-size: 13pt;
    text-transform: uppercase;
    font-family: "Amaranth";

}
#bottombar  ul{
    margin-left: -40px;
}
#bottombar ul li{
    -webkit-transition: all 0.2s ease 0s;
    transition: all0.2s ease 0s;
    cursor: pointer;
    opacity: 0.7;
    color: white
    
}